g.textbox, 
g.textbox text {
	cursor: default;
}

g.textbox.selected,
g.textbox.selected text {
	cursor: text;
}

svg {
	border: solid 1px #ddd;
}

.dump {position: absolute; top: -9999; left: -9999}
